<div class="container-grid">
  @for (cinguettio of firebaseServ.cinguettii(); track $index) {
    <div class="singleTweet">
      <div class="tweet-text">{{cinguettio.text}}</div>
      
      <span class="creation-time">
        {{cinguettio.creationTime.toDate() | date:'short'}}
      </span>
      
      @if (cinguettio.location) {
        <div class="tweet-location">
          <span>LAT {{ cinguettio.location.lat | number:'1.4-4' }}</span>
          <span>LNG {{ cinguettio.location.lng | number:'1.4-4' }}</span>
        </div>
      } @else {
        <p class="no-location">NO GPS DATA</p>
      }
    </div>
  }
</div>
@if(firebaseServ.isAuthenticated()){
<app-new-cingue></app-new-cingue>
}
