<div class="container-grid">
  @for (cinguettio of firebaseServ.cinguettii(); track $index) {
    <div class="singleTweet">
      <div class="tweet-text">{{cinguettio.text}}</div>
      
      <div class="tweet-meta">
        <span class="author-badge">by: {{ cinguettio.authorNick || 'anonymous' }}</span>
        <span class="creation-time">
          {{cinguettio.creationTime.toDate() | date:'short'}}
        </span>
      </div>
      
      @if (cinguettio.location) {
        <div class="tweet-location">
          <span>LAT {{ cinguettio.location.lat | number:'1.4-4' }}</span>
          <span>LNG {{ cinguettio.location.lng | number:'1.4-4' }}</span>
        </div>
      } @else {
        <p class="no-location">NO GPS DATA</p>
      }
    </div>
   
  }
</div>
@if(firebaseServ.isAuthenticated()){
  <app-new-cingue></app-new-cingue>
  
}

 <div class="map-section">
    <span class="tweet-location">Mappa dei Cinguettii</span>
    <app-map-view [geoJsonData]="firebaseServ.geoCinguettii()"></app-map-view>
  </div>



